<mat-toolbar color="primary" class="app-toolbar">
  <span class="app-title">Public Key Infrastructure</span>
  <span class="spacer"></span>
  <div class="toolbar-actions">
    <button *ngIf="!userRole" mat-raised-button color="accent" routerLink="/register" class="toolbar-button">Signup</button>
    <button *ngIf="!userRole" mat-raised-button color="accent" routerLink="/login" class="toolbar-button">Login</button>
    <button *ngIf="userRole && ['ADMIN', 'CA_USER', 'REGULAR_USER'].includes(userRole)" mat-raised-button color="accent" routerLink="/home" class="toolbar-button">Certificates</button>
    <button *ngIf="userRole == 'ADMIN'" mat-raised-button color="accent" routerLink="/ca-register" class="toolbar-button">Register CA user</button>
    <button *ngIf="userRole == 'ADMIN'" mat-raised-button color="accent" routerLink="/root-certificate-issuance" class="toolbar-button">Issue root certificate</button>
    <button *ngIf="userRole == 'CA_USER'" mat-raised-button color="accent" routerLink="/templates" class="toolbar-button">Templates</button>
    <button *ngIf="userRole == 'REGULAR_USER'" mat-raised-button color="accent" routerLink="/csr-self-upload" class="toolbar-button">CSR</button>
    <button *ngIf="userRole" mat-raised-button color="accent" (click)="logout()" class="toolbar-button">Logout</button>
  </div>
</mat-toolbar>
