<div class="mainContainer">
  <div class="window">
    <div class="inside-div">
      <h2 class="title">Add Root Certificate</h2>

      <div class="container">

        <!-- date selection -->
        <div class="row gap date-row">
          <div class="date-col">
          <label for="startDate">
          Pick start date:
          <input type="date" [(ngModel)]="rootCertDTO.startDate">
          </label>
        </div>

        <div class="date-col">
          <label for="endDate">
          Pick expiration date:
          <input type="date" [(ngModel)]="rootCertDTO.endDate">
          </label>
        </div>
      </div>

        <hr>

        <!-- key usages -->
        <div class="row gap">
          <div class="col">
            <h5>Key Usages</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="keyUsage1">
              <label class="form-check-label" for="keyUsage1">Digital Signature</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="keyUsage2">
              <label class="form-check-label" for="keyUsage2">Non Repudiation</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="keyUsage3">
              <label class="form-check-label" for="keyUsage3">Key Encipherment</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="keyUsage4">
              <label class="form-check-label" for="keyUsage4">Data Encipherment</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="keyUsage5">
              <label class="form-check-label" for="keyUsage5">Key Agreement</label>
            </div>
          </div>

          <!-- extended key usages -->
          <div class="col">
            <h5>Extended Key Usages</h5>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="extKeyUsage1">
              <label class="form-check-label" for="extKeyUsage1">TSL Web Server Authentication</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="extKeyUsage2">
              <label class="form-check-label" for="extKeyUsage2">TLS Web Client Authentication</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="extKeyUsage3">
              <label class="form-check-label" for="extKeyUsage3">Sign Executable Code</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="extKeyUsage4">
              <label class="form-check-label" for="extKeyUsage4">Email Protection</label>
            </div>
          </div>
        </div>

        <!-- confirm button -->
        <div class="add-button">
          <button type="button" class="btn custombutton btn-primary">Confirm</button>
        </div>

      </div>
    </div>
  </div>
</div>
